
.body {
  
   background-color: rgb(206, 171, 177);
}
p{
    font-size: 50px
}

.btn-grid{
    display: grid;
    grid-template-rows: repeat(2,auto);
    gap: 15px;
    margin:30px 0;
   
}

.button{ 
background:rgb(192, 255, 255);

}